<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.housinghack" >

    <uses-permission android:name="android.permission.INTERNET" />
/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="Housing App"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Housing App"
            android:screenOrientation="portrait" >

        </activity>
        <activity
            android:name=".Login"
            android:label="Housing App"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splash"
            android:label="Housing App"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Getqr"
            android:label="@string/title_activity_getqr" >
            <intent-filter android:label="Housing App" >
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="hsapp-backend.herokuapp.com"
                    android:pathPrefix="/triggerinvite"
                    android:scheme="http" />
            </intent-filter>
        </activity>
    </application>

</manifest>
